{% extends "layout.html" %}

{% block content %}
	   
<p class="lead">
	This is a table of all of the products with at least 50 reviews. 
	Unfortunately, most of them do not have any metadata associated with them.
	Use the search box to find a specific product.
</p>
<div class = "container">
	<table id = "products" class="display" width="100%"></table>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/jquery.dataTables.min.js"></script>
<script>
var dataSet = {{ data | safe }};


$(document).ready(function() {
	$('#products').DataTable( {
		data: dataSet,
		columns: [
		    { title: "Product ID" },
		    { title: "Name" },
		    { title: "# of Reviews" }
		]
  } );
} );
</script>
{% endblock %}
